<div class="video-container">
  <div class="overlay">
  </div>
  <video class="video" autoplay loop>
    <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/designVideoDark.mp4" type="video/mp4">
  </video>
</div>

<div class="container">
  <div class="headerBox">
    <div class="headerText">
      <button (click)="moveScreen()" > Test </button>
      ghost-writers
      <span>
        <a href="https://github.com/jayyhong/Ghost-Writers-Web-v2" target="_blank">
          <button class="github">
          </button>
        </a>
        <a href="https://youtu.be/2ERSUcVIUmA" target="_blank">
          <button class="youtube">
          </button>
        </a>
      </span>
    </div>
    <div class="headerParagraph">
      augmented reality meets street art
    </div>
  </div>

  <div class="projectDescription">
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack.""Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."

      "Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world. TechStack: Angular 2, Ionic 2, Wikitude,
      bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack."
    <br/>
  </div>
</div>