.container {
  background-color: white;
  position: absolute;
  margin-top: 450px;
  width: 100vw;
}


.video-container {
  position: fixed;
  min-height: 450px;
  max-height: 450px;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.video {
  width: 100vw;
  min-width: 960px;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 450px;
  opacity: 0.3;
}

.headerBox {
  margin-top: -125px;
  height: 125px;
  background-color: rgba(0,0,0, 0.7);
  width: 100vw;
  position: absolute;
}

.headerText {
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin-top: 10px;
  margin-left: 20px;
}

.github {
  background-image: url("https://joshuapenalba.files.wordpress.com/2014/12/github-icon.png?w=1200");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  right: 120px;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.youtube {
  background-image: url("http://moziru.com/images/youtube-clipart-png-black-12.png");
  background-size: cover;
  background-color: transparent;
  position: absolute;
  margin-top: 25px;
  right: 30px;
  height: 50px;
  width: 70px;
  border: none;
  cursor: pointer;
}

.headerParagraph {
  color: lightgrey;
  font-weight: lighter;
  font-size: 20px;
  margin-top: -10px;
  margin-left: 20px;
}

.projectDescription {
  font-size: 30px;
}


@media only screen and (max-width: 770px) {
  .headerText{
    font-size: 40px;
    margin-left: 0;
  }
  .headerParagraph {
    font-size: 15px;
    margin-top: 2px;
    margin-left: 0;
  }
}