<div class="video-container">
  <div class="overlay">
  </div>
  <video class="video" autoplay loop>
    <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/designVideoDark.mp4" type="video/mp4">
  </video>
</div>

<div class="container">
  <div class="headerBox">
    <div class="headerText">
      Ghost-Writers
    </div>
    <div class="headerParagraph">
      Where Augmented Reality meets Street Art
    </div>
  </div>
  test
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>