.container {
  background-color: white;
  position: absolute;
  margin-top: 450px;
  width: 100vw;
  height: 100%;
}


.video-container {
  position: fixed;
  min-height: 450px;
  max-height: 450px;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.video {
  width: 100vw;
  min-width: 960px;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 450px;
  opacity: 0.3;
}

.headerBox {
  margin-top: -150px;
  height: 150px;
  background-color: rgba(0,0,0, 0.7);
  width: 100vw;
  position: absolute;
}

.headerText {
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}

.headerParagraph {
  color: lightgrey;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}

.projectDescription {
  font-size: 30px;
}


@media only screen and (max-width: 770px) {
  .headerText{
    font-size: 40px;
    margin-left: 0;
  }
  .headerParagraph {
    font-size: 15px;
    margin-top: 2px;
    margin-left: 0;
  }
}