<!-- <div class="navbar">
  <span style="font-size: 30px">{{currentProject}}</span>
</div> -->

<div class="video-container">
  <div class="overlay">
  </div>
  <video class="video" autoplay loop>
    <source src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/designVideoDark.mp4" type="video/mp4">
  </video>
</div>

<div class="ghostwriters_container">
  <div class="headerBox ghostwriters">
    <div class="headerText">
      ghost-writers
      <span>
        <a href="https://github.com/jayyhong/Ghost-Writers-Web-v2" target="_blank">
          <button class="github">
          </button>
        </a>
        <a href="https://youtu.be/2ERSUcVIUmA" target="_blank">
          <button class="youtube">
          </button>
        </a>
      </span>
    </div>
    <div class="headerParagraph">
      augmented reality meets street art
    </div>
  </div>

  <div class="projectDescription">
    Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
    users to post and create their own virtual art, anywhere in the world.
    <br/>
    <br/> TechStack: Angular 2, Ionic 2, Wikitude, bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack.
  </div>
  <div class="img_wrapper">
    <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_login.png" />
    <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_create.png" />
    <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_map.png" />
  </div>


  <!-- Triplit -->
  <div class="triplit_container">

    <div class="headerBox triplit">
      <div class="headerText">
        triplit
        <span>
          <a href="https://github.com/jayyhong/Ghost-Writers-Web-v2" target="_blank">
            <button class="github">
            </button>
          </a>
        </span>
      </div>
      <div class="headerParagraph">
        travel made easy
      </div>
    </div>
    
    <div class="header_background">
    </div>


    <div class="projectDescription">
      Ghost Writers uses Wikitude's image recognition software to create a mobile augmented reality graffiti application that allows
      users to post and create their own virtual art, anywhere in the world.
      <br/>
      <br/> TechStack: Angular 2, Ionic 2, Wikitude, bCrypt, AWS, MongoDB, Node, Express, Google Maps API, FileStack.
    </div>
    <div class="img_wrapper">
      <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_login.png" />
      <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_create.png" />
      <img class="gw_img" src="https://s3-us-west-1.amazonaws.com/portfolio-images-jayh/ghost_writers_map.png" />
    </div>